.profileImage {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #fff !important;
  margin-top: 6px;

  /* centering */
  display: grid;
  place-content: center;
}

@media (min-width: 1001px) {
  .profileImage {
    width: 45px;
    height: 45px;
    font-size: 18px;
    line-height: 52px;
  }
}

@media (max-width: 800px) and (min-width: 761px) {
  .profileImage {
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 42px;
  }
}

@media (max-width: 760px) and (min-width: 530px) {
  .profileImage {
    width: 46px;
    height: 46px;
    font-size: 18px;
    line-height: 48px;
    margin-top: 3px;
  }
}

@media (max-width: 530px) {
  .profileImage {
    width: 42px;
    height: 42px;
    font-size: 16px;
    line-height: 46px;
    margin-top: 6px;
  }
}

@media (max-width: 1000px) and (min-width: 801px) {
  .profileImage {
    width: 45px;
    height: 45px;
    font-size: 16px;
    line-height: 48px;
  }
}
