  
.form {
  padding: 3%;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* border-top: 2px solid #D3D3D3; */
}

.input {
  height: 50px;
  /* border: none; */
  border-radius: 4px;
  /* padding: 5%; */
  /* width: 62vw; */
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2BA48D;
  /* padding: 20px; */
  display: inline-block;
  border: none;
  border-radius: 4px;
  width: 6rem;
  margin-left: 1%;
}

@media (max-width: 760px){
  .input {
    height: 42px;
  }
}