html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}
.ml-50{
  margin-left: 50px;
}
* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  /* justify-content: center;
  text-align: center; */
  height: auto;
  /* align-items: center; */
  /* background-color: #F3F4F7; */
}

.right_border{
  z-index: 5;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(243, 244, 247, 1);
}

.joinInnerContainer {
  width: 20%;
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}

.searchInput{
  height: 100%;
  width: 100%;
  /* padding: 0.5rem; */
  color: rgba(0, 0, 0, 0.48);
  border-radius: 0;

  /* padding: 0.5rem; */
}

@media (min-width: 761px) and (max-width: 1290px) {
  .sideBar {
    width: 35vw;
  }
}

@media (max-width: 760px){
  .sideBar{
    width: 100vw;
  }
}

@media (min-width: 1291px){
  .sideBar{
    width: 25vw;
  }
}
.sideBar{
  justify-content: center;
  text-align: center;
  align-items: center;
}

.chatArea{
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.description{
  margin-top: 20rem;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1000px){
  .docLogo{
    margin-top: 10rem;
    font-size: 10rem;
  }
  /* .searchInput{
    height: 40px;
  } */
}

@media (max-width: 760px){
  .chatBox{
    display: none;
  }
}

@media (min-width: 761px){
  .chatBox{
    display: contents;
  }
}

@media (min-width: 1001px){
  .docLogo{
    margin-top: 10rem;
    font-size: 13rem;
  }
  /* .searchInput{
    height: 48px;
  } */
}

.chatArea{
  background-color: rgba(226, 214, 214, 0.09);
}

.border_left_0{
  border-left: none;
}

.bg-white{
  background-color: white;
}