.messageBox {
  background: #f3f3f3;
  border-radius: 4px;
  padding: 5px 10px;
  color: white;
  display: inline-block;
  max-width: 80%;
  height: fit-content;
}

.messageText {
  color: rgba(0, 0, 0, 0.68);
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1rem;
  word-wrap: break-word;
  margin-bottom: 0px;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 3%;
  margin-top: 10px;
}

.sentText {
  /* display: flex; */
  margin-bottom: 0;
  margin-top: auto;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
  font-size: 0.75rem;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.backgroundBlue {
  background: #2979ff;
}

.backgroundLight {
  background: rgba(241, 241, 241, 0.9);
}

.message-image-container {
  max-width: 35%;
  display: block;
  padding: 0.35rem;
  border-radius: 8px;
}

.message-image-container img {
  border-radius: 8px;
  cursor: pointer;
}
