.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f3f4f7;
  border-radius: 0px;
  width: 100%;
}
@media (min-width: 1001px) {
  .infoBar {
    height: 72px;
  }
}

.backButton {
  font-size: 1.5rem;
  color: rgb(37, 36, 36);
  font-weight: 600;
  padding-right: 5%;
  cursor: pointer;
}

#back_icon {
  color: rgb(125, 125, 125);
}

@media (max-width: 1000px) {
  .infoBar {
    height: 72px;
  }
}

@media (max-width: 760px) {
  .userName {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 600;
  }

  .userRole {
    font-size: 14px;
    font-weight: 400;
  }
}

.userName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 2%;
  margin-bottom: -0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.userRole {
  font-size: 16px;
  font-weight: 400;
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 3%;
  color: white;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  margin-right: 5%;
}

.profileWrapper {
  margin-top: -5px;
}
