.tag {
  /* border: none;
    border-radius: 3px;
    padding: 0.3em 0.65em;
    text-transform: capitalize;
    font-size: 0.78rem;
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
  /* default */
  background-color: #e0e0de;
  color: #565665;
}

.tag.lightpink {
  background-color: #f012be;
}

.tag.mustdo {
  background-color: #0074d9;
}

.tag.agenda {
  background-color: #7fdbff;
}

.tag.someday {
  background-color: #39cccc;
}

.tag.purple {
  background-color: #b10dc9;
}

.tag.bronze {
  background-color: #ffdc00;
}

.tag.aqua {
  background-color: #01ff70;
}

.tag.grey {
  background-color: #3d9970;
}

.tag.silver {
  background-color: #85144b;
}

.tag.brown {
  background-color: #001f3f;
}

.tag.cranberry {
  background-color: #c30f1f;
  color: #fff;
}

.tag.orange {
  background-color: #d63c06;
  color: #fff;
}

.tag.brightorange {
  background-color: #eb9f2e;
  color: #fff;
}

.tag.peach {
  background-color: #ff8b00;
  color: #000;
}

.tag.maringold {
  background-color: #eda000;
  color: #000;
}

.tag.lightgreen {
  background-color: #169f11;
  color: #000;
}

.tag.darkgreen {
  background-color: #096a0b;
  color: #fff;
}

.tag.teal {
  background-color: #02b6c4;
  color: #000;
}

.tag.lightblue {
  background-color: #3089c3;
  color: #fff;
}

.tag.darkblue {
  background-color: #003862;
  color: #fff;
}

.tag.lavender {
  background-color: #7360ee;
  color: #fff;
}

.tag.plum {
  background-color: #77004b;
  color: #fff;
}

.tag.lightgray {
  background-color: #787471;
  color: #fff;
}

.tag.darkgray {
  background-color: #3b4248;
  color: #fff;
}
